
.postBlock{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .container {
    height: calc(100vh - 100px);
    display: grid;
    place-items: center;
  }

.mainDiv{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* height: calc(100vh - 100px); */
}

.mainDiv > h2{
  line-height: 10px;
  width: 100%;

}

.mainDiv > p{
  font-size:12px;
  width: 80%;
  margin: 15px 0 20px 0px;
  font-style: italic;
}

.mainDiv > a{
  font-size:20px;
  padding:  10px 20px;
  text-decoration: none;
  border: 2mm ridge rgb(45, 167, 0); 
  color: black;
  font-weight: bold;
}

.mainDiv > span{
  /* padding: 1000px 0; */
  /* margin: 100px; */
  font-weight: bolder;
  font-size:40px;
  color: rgb(45, 167, 0);
  /* text-shadow: 1px 1px 1px black; */
}

@media only screen and (max-width: 500px) {
  .mainDiv > h2{
    font-size:18px;
    width: 70%;
    line-height: 20px;
    /* color: red; */
  
  }
  .mainDiv > span{
    font-size: 40px;
  }
  .container{
    /* width: 50%; */
    place-content: center center;

  }
  .mainDiv > p{
    width: 90%;
  }
}