.component{
    height: calc(100vh - 100px);
      display:grid;
      place-items:center;
      
}

.component > form{
    display: grid;  
    gap: 20px;
    width: 312px;
      
    /* text-align: center; */
    /* padding: 100px; */
    place-items:center;
}
/* 
.component > form > h1 {
    width:300px;
    align-items: center;
    color: rgb(45, 167, 0);
} */



.component > form > div > label{
    width: 300px;
    padding-left: 10px;
    font-weight: bold;
    /* background-color: green; */
   
}

.component > form > div > input {
    width: 300px;
    height: 2rem;
    padding-left: 10px;
    border: none;
    background-color: #e6f3ff; /* Light blue background for all inputs */
    color: green;
}


.component > form > div{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.component > form > button , .component> div > a {
    background-color: black;
    font-size:20px;
    padding:  5px 20px;
    text-decoration: none;
    border: 2mm ridge rgb(45, 167, 0);
    /* color: black; */
    /* font-weight: bold; */
    width: fit-content;
    transition:0.1s;
}

.component a:hover , .component > form > button:hover{
    background-color: green;
    color: white;

}


.component> div > a{
    margin: 20px 0px 0px 0px;
}

@media only screen and (max-width: 500px) {
    .mainDiv > h2{
      font-size:20px;
      width: 70%;
      line-height: 20px;
      /* color: red; */
    
    }
    
    .container{
      /* width: 50%; */
      place-content: center center;
  
    }
    .mainDiv > p{
      width: 50%;
    }
  }