.component{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    height:70px;
    border-bottom: 1px solid rgb(166, 165, 165);
}

.linksBlock{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.linksBlock > a{
    font-weight: 100;
    text-decoration: none;
    /* color: black; */
    border: 1px solid rgb(166, 165, 165);
    padding: 9px 20px;
    border-radius: 200px;
    transition:0.5;
}

.linksBlock > a:hover{
    color: #73D8F7;
    /* border-color: green; */
}
